//Import here different utilities which will help you write code faster and smarter
@import "utils/libraries";
@import "utils/vars";
@import "utils/fonts";
@import "utils/mixin";


//Import here styles of particular parts of webpage
@import "modules/footer.scss";
@import "modules/icons.scss";
@import "modules/mainClasses.scss";
@import "modules/mainPart.scss";
@import "modules/searchBar.scss";


.chartContainer {
    width: 50%;


}

.tempChart,
.pressureChart,
.humidChart {
    position: relative;
    left: 50%;
    padding: 20px 0px;
}

canvas:empty {
    display: none;
    height: auto;
}